In [ ]:
import darwinex_ticks

Pretty printing has been turned OFF

In [3]:
darwinex_ticks.__path__

['darwinex_ticks']

Connect the ftp server.

In [39]:
dwt = darwinex_ticks.DarwinexTicksConnection(dwx_ftp_user='your username',
                       dwx_ftp_pass='your pass',
                       dwx_ftp_hostname='tickdata.darwinex.com',
                       dwx_ftp_port=21)

Connected Darwinex Ticks Data Server

In [7]:
dwt.available_assets

['AUDCAD', 'AUDCHF', 'AUDJPY', 'AUDNZD', 'AUDUSD', 'AUS200', 'CADCHF', 'CADJPY', 'CHFJPY', 'EURAUD', 'EURCAD', 'EURCHF', 'EURGBP', 'EURJPY', 'EURMXN', 'EURNOK', 'EURNZD', 'EURSGD', 'EURTRY', 'EURUSD', 'FCHI', 'GBPAUD', 'GBPCAD', 'GBPCHF', 'GBPJPY', 'GBPMXN', 'GBPNOK', 'GBPNZD', 'GBPTRY', 'GBPUSD', 'GDAXIm', 'J225', 'NDXm', 'NZDCAD', 'NZDCHF', 'NZDJPY', 'NZDUSD', 'SPN35', 'SPXm', 'STOXX50E', 'UK100', 'USDCAD', 'USDCHF', 'USDHKD', 'USDJPY', 'USDMXN', 'USDNOK', 'USDSEK', 'USDSGD', 'USDTRY', 'WS30', 'WS30m', 'XAGUSD', 'XAUUSD', 'XBNUSD', 'XBTUSD', 'XETUSD', 'XLCUSD', 'XNGUSD', 'XPDUSD', 'XPTUSD', 'XRPUSD', 'XTIUSD']

In [10]:
dwt.list_of_files('STOXX50E').head(10)

,file,asset,pos,date,hour
time,,,,,
2017-10-01 22:00:00,STOXX50E_ASK_2017-10-01_22.log.gz,STOXX50E,ASK,2017-10-01,22
2017-10-01 23:00:00,STOXX50E_ASK_2017-10-01_23.log.gz,STOXX50E,ASK,2017-10-01,23
2017-10-02 00:00:00,STOXX50E_ASK_2017-10-02_00.log.gz,STOXX50E,ASK,2017-10-02,00
2017-10-02 01:00:00,STOXX50E_ASK_2017-10-02_01.log.gz,STOXX50E,ASK,2017-10-02,01
2017-10-02 02:00:00,STOXX50E_ASK_2017-10-02_02.log.gz,STOXX50E,ASK,2017-10-02,02
2017-10-02 03:00:00,STOXX50E_ASK_2017-10-02_03.log.gz,STOXX50E,ASK,2017-10-02,03
2017-10-02 04:00:00,STOXX50E_ASK_2017-10-02_04.log.gz,STOXX50E,ASK,2017-10-02,04
2017-10-02 05:00:00,STOXX50E_ASK_2017-10-02_05.log.gz,STOXX50E,ASK,2017-10-02,05
2017-10-02 06:00:00,STOXX50E_ASK_2017-10-02_06.log.gz,STOXX50E,ASK,2017-10-02,06
2017-10-02 07:00:00,STOXX50E_ASK_2017-10-02_07.log.gz,STOXX50E,ASK,2017-10-02,07

In [12]:
data = dwt.ticks_from_darwinex('EURUSD', cond='2017-10-01 22', side='ASK')

Process completed. 1 files downloaded

In [13]:
data.head()

                             Ask  Ask_size
Time
2017-10-01 22:00:00.043  1.18078    500000
2017-10-01 22:00:00.134  1.18079   1000000
2017-10-01 22:00:00.268  1.18078    229000
2017-10-01 22:00:00.297  1.18081    500000
2017-10-01 22:00:00.308  1.18083   1000000

In [41]:
data = dwt.ticks_from_darwinex('EURUSD', cond='2018-08-02 13')

FloatProgress(value=0.0, max=2.0)

Process completed. 2 files downloaded

In [23]:
data = dwt.ticks_from_darwinex(['NZDUSD','NZDJPY'],
                               start='2018-10-01 09', end='2018-10-01 11')

NZDUSD

FloatProgress(value=0.0, max=6.0)

Process completed. 6 files downloaded

NZDJPY

FloatProgress(value=0.0, max=6.0)

Process completed. 6 files downloaded

In [25]:
data = dwt.ticks_from_darwinex(['STOXX50E', 'SPXm', 'GDAXIm'], 
                               cond='2018-10-01', side='Ask', verbose=True)

STOXX50E

[INFO] Retrieving data from Darwinex Tick Data Server..

FloatProgress(value=0.0, max=22.0)

Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_00.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_01.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_02.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_03.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_04.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_05.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_06.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_07.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_08.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_09.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_10.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_11.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_12.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_13.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_14.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_15.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_16.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_17.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_18.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_19.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_20.log.gz
Downloaded file STOXX50E/STOXX50E_ASK_2018-10-01_22.log.gz
Process completed. 22 files downloaded

SPXm

[INFO] Retrieving data from Darwinex Tick Data Server..

FloatProgress(value=0.0, max=23.0)

Downloaded file SPXm/SPXm_ASK_2018-10-01_00.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_01.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_02.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_03.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_04.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_05.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_06.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_07.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_08.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_09.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_10.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_11.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_12.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_13.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_14.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_15.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_16.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_17.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_18.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_19.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_20.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_22.log.gz
Downloaded file SPXm/SPXm_ASK_2018-10-01_23.log.gz
Process completed. 23 files downloaded

GDAXIm

[INFO] Retrieving data from Darwinex Tick Data Server..

FloatProgress(value=0.0, max=14.0)

Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_06.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_07.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_08.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_09.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_10.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_11.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_12.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_13.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_14.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_15.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_16.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_17.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_18.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_19.log.gz
Downloaded file GDAXIm/GDAXIm_ASK_2018-10-01_20.log.gz
Process completed. 15 files downloaded

In [26]:
data

                                      Ask  Ask_size
         Time
STOXX50E 2018-10-01 00:00:00.492   3408.3        10
         2018-10-01 00:00:01.548   3407.3        10
         2018-10-01 00:00:05.761   3408.3        10
         2018-10-01 00:00:06.813   3407.3        10
         2018-10-01 00:00:59.429   3406.3        10
         2018-10-01 00:01:07.848   3407.3        10
         2018-10-01 00:03:04.609   3406.3        10
         2018-10-01 00:05:02.778   3405.3        10
         2018-10-01 00:05:03.479   3406.3        10
         2018-10-01 00:05:06.636   3405.3        10
         2018-10-01 00:07:21.060   3406.3        10
         2018-10-01 00:14:25.451   3407.3        10
         2018-10-01 00:15:00.186   3406.3        10
         2018-10-01 00:15:01.240   3407.3        10
         2018-10-01 00:15:02.996   3406.3        10
         2018-10-01 00:15:14.567   3407.3        10
         2018-10-01 00:15:36.304   3406.3        10
         2018-10-01 00:16:01.553   3407.3        10
         2018-10-01 00:16:42.571   3406.3        10
         2018-10-01 00:17:20.792   3407.3        10
         2018-10-01 00:17:29.203   3406.3        10
         2018-10-01 00:17:39.015   3407.3        10
         2018-10-01 00:18:06.001   3406.3        10
         2018-10-01 00:22:28.942   3407.3        10
         2018-10-01 00:23:00.487   3406.3        10
         2018-10-01 00:23:02.590   3407.3        10
         2018-10-01 00:23:06.450   3406.3        10
         2018-10-01 00:23:07.501   3407.3        10
         2018-10-01 00:26:44.294   3406.3        10
         2018-10-01 00:26:48.148   3407.3        10
...                                   ...       ...
GDAXIm   2018-10-01 19:59:20.336  12314.0        50
         2018-10-01 19:59:21.390  12314.5        75
         2018-10-01 19:59:22.792  12314.0        75
         2018-10-01 19:59:24.195  12313.5        75
         2018-10-01 19:59:25.949  12314.0        75
         2018-10-01 19:59:26.301  12313.5        50
         2018-10-01 19:59:27.004  12314.0        75
         2018-10-01 19:59:29.460  12313.5        75
         2018-10-01 19:59:30.863  12312.5        50
         2018-10-01 19:59:32.968  12313.0        50
         2018-10-01 19:59:34.022  12312.5        75
         2018-10-01 19:59:35.776  12312.0        75
         2018-10-01 19:59:37.181  12311.5        75
         2018-10-01 19:59:38.936  12311.0        75
         2018-10-01 19:59:40.690  12309.5        75
         2018-10-01 19:59:42.796  12309.0        75
         2018-10-01 19:59:45.603  12310.5        75
         2018-10-01 19:59:47.711  12309.0        25
         2018-10-01 19:59:48.063  12310.0        50
         2018-10-01 19:59:49.114  12310.5        50
         2018-10-01 19:59:50.522  12310.0        25
         2018-10-01 19:59:50.872  12311.5        50
         2018-10-01 19:59:51.575  12312.5        75
         2018-10-01 19:59:52.276  12311.5        50
         2018-10-01 19:59:53.329  12312.5        75
         2018-10-01 19:59:56.490  12311.5        75
         2018-10-01 19:59:57.894  12312.0        75
         2018-10-01 19:59:58.245  12311.5        75
         2018-10-01 19:59:59.299  12312.0        75
         2018-10-01 20:00:00.002  12312.5        75

[33000 rows x 2 columns]

In [32]:
data.loc['GDAXIm'].tail()

                             Ask  Ask_size
Time
2018-10-01 19:59:56.490  12311.5        75
2018-10-01 19:59:57.894  12312.0        75
2018-10-01 19:59:58.245  12311.5        75
2018-10-01 19:59:59.299  12312.0        75
2018-10-01 20:00:00.002  12312.5        75

In [33]:
data = dwt.ticks_from_darwinex('EURUSD', cond='2018-11-01 12', separated=True)

FloatProgress(value=0.0, max=2.0)

Process completed. 2 files downloaded

In [34]:
data

{'ASK':                              Ask   Ask_size
Time
2018-11-01 11:59:59.993  1.13951   500000.0
2018-11-01 12:00:00.346  1.13953   700000.0
2018-11-01 12:00:01.051  1.13943   589000.0
2018-11-01 12:00:01.404  1.13948  1339000.0
2018-11-01 12:00:01.754  1.13949   250000.0
2018-11-01 12:00:02.105  1.13950   464000.0
2018-11-01 12:00:02.809  1.13953   500000.0
2018-11-01 12:00:03.161  1.13954  1329000.0
2018-11-01 12:00:03.511  1.13952   500000.0
2018-11-01 12:00:03.863  1.13954   750000.0
2018-11-01 12:00:04.567  1.13955   750000.0
2018-11-01 12:00:04.919  1.13963  1584000.0
2018-11-01 12:00:05.974  1.13942   500000.0
2018-11-01 12:00:06.327  1.13934   500000.0
2018-11-01 12:00:06.678  1.13931   492000.0
2018-11-01 12:00:07.029  1.13929   492000.0
2018-11-01 12:00:07.381  1.13935   492000.0
2018-11-01 12:00:07.733  1.13937   492000.0
2018-11-01 12:00:09.139  1.13934   500000.0
2018-11-01 12:00:09.491  1.13940   500000.0
2018-11-01 12:00:09.842  1.13938   500000.0
2018-11-01 12:00:10.194  1.13948   579000.0
2018-11-01 12:00:10.547  1.13929   500000.0
2018-11-01 12:00:11.601  1.13931   551000.0
2018-11-01 12:00:11.954  1.13936   251000.0
2018-11-01 12:00:12.305  1.13934   751000.0
2018-11-01 12:00:12.657  1.13938   500000.0
2018-11-01 12:00:13.710  1.13939   251000.0
2018-11-01 12:00:14.413  1.13941   499000.0
2018-11-01 12:00:14.764  1.13935   750000.0
...                          ...        ...
2018-11-01 12:59:29.207  1.13878   251000.0
2018-11-01 12:59:29.558  1.13879  2251000.0
2018-11-01 12:59:32.018  1.13880  1250000.0
2018-11-01 12:59:33.072  1.13878   501000.0
2018-11-01 12:59:33.422  1.13879  2001000.0
2018-11-01 12:59:33.773  1.13880  2001000.0
2018-11-01 12:59:37.637  1.13878  1000000.0
2018-11-01 12:59:37.989  1.13874  1001000.0
2018-11-01 12:59:38.341  1.13873  1000000.0
2018-11-01 12:59:38.692  1.13872  1251000.0
2018-11-01 12:59:39.394  1.13873  1000000.0
2018-11-01 12:59:41.502  1.13875  2001000.0
2018-11-01 12:59:42.205  1.13874  1000000.0
2018-11-01 12:59:42.557  1.13875  1501000.0
2018-11-01 12:59:44.314  1.13872   250000.0
2018-11-01 12:59:44.666  1.13873  1501000.0
2018-11-01 12:59:46.072  1.13872  1251000.0
2018-11-01 12:59:47.479  1.13869  2501000.0
2018-11-01 12:59:49.236  1.13870   251000.0
2018-11-01 12:59:49.588  1.13867   250000.0
2018-11-01 12:59:49.939  1.13868   251000.0
2018-11-01 12:59:50.291  1.13869  1000000.0
2018-11-01 12:59:50.644  1.13873  1000000.0
2018-11-01 12:59:51.347  1.13878  1000000.0
2018-11-01 12:59:52.403  1.13874   751000.0
2018-11-01 12:59:53.105  1.13875  1751000.0
2018-11-01 12:59:53.458  1.13878   251000.0
2018-11-01 12:59:55.214  1.13877   251000.0
2018-11-01 12:59:56.970  1.13880   251000.0
2018-11-01 12:59:59.079  1.13877   750000.0

[2928 rows x 2 columns], 'BID':                              Bid   Bid_size
Time
2018-11-01 11:59:59.993  1.13947   999000.0
2018-11-01 12:00:00.346  1.13949   991000.0
2018-11-01 12:00:01.051  1.13938  2000000.0
2018-11-01 12:00:01.404  1.13945   220000.0
2018-11-01 12:00:01.754  1.13946   500000.0
2018-11-01 12:00:02.105  1.13944   490000.0
2018-11-01 12:00:02.809  1.13949   750000.0
2018-11-01 12:00:04.215  1.13951  1251000.0
2018-11-01 12:00:04.567  1.13952   250000.0
2018-11-01 12:00:04.919  1.13958   750000.0
2018-11-01 12:00:05.270  1.13959   250000.0
2018-11-01 12:00:05.621  1.13958  1249000.0
2018-11-01 12:00:05.974  1.13935   500000.0
2018-11-01 12:00:06.327  1.13931   500000.0
2018-11-01 12:00:06.678  1.13928   501000.0
2018-11-01 12:00:07.029  1.13925   500000.0
2018-11-01 12:00:07.381  1.13931   251000.0
2018-11-01 12:00:07.733  1.13934   238000.0
2018-11-01 12:00:08.085  1.13932   238000.0
2018-11-01 12:00:08.435  1.13933   250000.0
2018-11-01 12:00:09.139  1.13930   750000.0
2018-11-01 12:00:09.491  1.13934  1251000.0
2018-11-01 12:00:10.194  1.13942   251000.0
2018-11-01 12:00:10.547  1.13926   500000.0
2018-11-01 12:00:11.954  1.13932   731000.0
2018-11-01 12:00:12.305  1.13930   501000.0
2018-11-01 12:00:12.657  1.13934  1251000.0
2018-11-01 12:00:13.360  1.13935   250000.0
2018-11-01 12:00:13.710  1.13934   750000.0
2018-11-01 12:00:14.413  1.13937   251000.0
...                          ...        ...
2018-11-01 12:59:18.671  1.13877  1000000.0
2018-11-01 12:59:20.777  1.13878   501000.0
2018-11-01 12:59:27.801  1.13877   501000.0
2018-11-01 12:59:28.856  1.13876   500000.0
2018-11-01 12:59:32.018  1.13877  1250000.0
2018-11-01 12:59:33.072  1.13876   500000.0
2018-11-01 12:59:33.773  1.13877  1250000.0
2018-11-01 12:59:34.826  1.13878  1000000.0
2018-11-01 12:59:35.178  1.13877  1000000.0
2018-11-01 12:59:37.989  1.13872  1000000.0
2018-11-01 12:59:38.692  1.13870  1500000.0
2018-11-01 12:59:39.394  1.13871  1000000.0
2018-11-01 12:59:41.502  1.13872  1251000.0
2018-11-01 12:59:44.314  1.13871   500000.0
2018-11-01 12:59:45.368  1.13870   751000.0
2018-11-01 12:59:47.479  1.13866  1251000.0
2018-11-01 12:59:49.236  1.13867  1251000.0
2018-11-01 12:59:49.588  1.13866   500000.0
2018-11-01 12:59:50.291  1.13867  1251000.0
2018-11-01 12:59:50.644  1.13872   500000.0
2018-11-01 12:59:50.996  1.13870  1251000.0
2018-11-01 12:59:51.347  1.13877   500000.0
2018-11-01 12:59:51.699  1.13875   500000.0
2018-11-01 12:59:52.403  1.13872   500000.0
2018-11-01 12:59:52.754  1.13871  1751000.0
2018-11-01 12:59:53.105  1.13872  1251000.0
2018-11-01 12:59:53.458  1.13875  2501000.0
2018-11-01 12:59:56.970  1.13877  1000000.0
2018-11-01 12:59:58.726  1.13878   500000.0
2018-11-01 12:59:59.079  1.13874   500000.0

[2764 rows x 2 columns]}

In [37]:
data['BID'].tail()

                             Bid   Bid_size
Time
2018-11-01 12:59:53.105  1.13872  1251000.0
2018-11-01 12:59:53.458  1.13875  2501000.0
2018-11-01 12:59:56.970  1.13877  1000000.0
2018-11-01 12:59:58.726  1.13878   500000.0
2018-11-01 12:59:59.079  1.13874   500000.0